# example systemd template service unit file for multiple nexcache-servers
#
# You can use this file as a blueprint for your actual template service unit
# file, if you intend to run multiple independent nexcache-server instances in
# parallel using systemd's "template unit files" feature. If you do, you will
# want to choose a better basename for your service unit by renaming this file
# when copying it.
#
# Please take a look at the provided "systemd-nexcache_server.service" example
# service unit file, too, if you choose to use this approach at managing
# multiple nexcache-server instances via systemd.

[Unit]
Description=NexCache data structure server - instance %i
Documentation=https://github.com/nexcache-io/nexcache-doc
# This template unit assumes your nexcache-server configuration file(s)
# to live at /etc/nexcache/nexcache_server_<INSTANCE_NAME>.conf
AssertPathExists=/etc/nexcache/nexcache_server_%i.conf
#Before=your_application.service another_example_application.service
#AssertPathExists=/var/lib/nexcache

[Service]
ExecStart=/usr/local/bin/nexcache-server /etc/nexcache/nexcache_server_%i.conf
LimitNOFILE=10032
NoNewPrivileges=yes
#OOMScoreAdjust=-900
#PrivateTmp=yes
Type=notify
TimeoutStartSec=infinity
TimeoutStopSec=infinity
UMask=0077
#User=nexcache
#Group=nexcache
#WorkingDirectory=/var/lib/nexcache

[Install]
WantedBy=multi-user.target
