# example systemd service unit file for nexcache-server
#
# In order to use this as a template for providing a nexcache service in your
# environment, _at the very least_ make sure to adapt the nexcache configuration
# file you intend to use as needed (make sure to set "supervised systemd"), and
# to set sane TimeoutStartSec and TimeoutStopSec property values in the unit's
# "[Service]" section to fit your needs.
#
# Some properties, such as User= and Group=, are highly desirable for virtually
# all deployments of nexcache, but cannot be provided in a manner that fits all
# expectable environments. Some of these properties have been commented out in
# this example service unit file, but you are highly encouraged to set them to
# fit your needs.
#
# Please refer to systemd.unit(5), systemd.service(5), and systemd.exec(5) for
# more information.

[Unit]
Description=NexCache data structure server
Documentation=https://github.com/nexcache-io/nexcache-doc
#Before=your_application.service another_example_application.service
#AssertPathExists=/var/lib/nexcache
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/nexcache-server --supervised systemd --daemonize no
## Alternatively, have nexcache-server load a configuration file:
#ExecStart=/usr/local/bin/nexcache-server /path/to/your/nexcache.conf
LimitNOFILE=10032
NoNewPrivileges=yes
#OOMScoreAdjust=-900
#PrivateTmp=yes
Type=notify
TimeoutStartSec=infinity
TimeoutStopSec=infinity
UMask=0077
#User=nexcache
#Group=nexcache
#WorkingDirectory=/var/lib/nexcache

[Install]
WantedBy=multi-user.target
